<div>
<h3>Project Idea</h3>
<p>the project I want to do is a project management app. 
the main idea is to be able to structure a software project using sprint principles.</p>
<p>some features of the project</p>
<ul>
<li>have a storage of backlog items that you can add to a current sprint</li>
<li>set how long the current sprint is for and what items are in the sprint</li>
<li>be able to check off items</li>
<li>be able to give neccesary details about each item and intermeditate steps and be able to check off those steps</li>
</ul>
</div>